@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 0;
}

.semicircle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px; 
  height: 45px; 
  background-color: #f44336; 
  border-bottom-right-radius: 100px;
}
