/*ESTILO DEL LOGIN*/
.fondo-login {
  background-image: url('../img/fondoLogin.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  position: fixed; 
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cont-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  margin-top: -1%;
}

.conten1 {
  margin-left: 60px;
}

.titulo-TDA {
  margin-top: 1px;
  letter-spacing: 3px; 
}

.text-infor {
  margin-bottom: 30px;
  margin-top: -25px;
  font-size: 9px;
}

.form-section {
  margin-left: auto;
  margin-right: 15%;
  text-align: left;
}

.titulo-login, .form-login {
  margin-bottom: 20px;
}

.text-bienv {
  letter-spacing: 0.8px; 
  font-size: 14px;
  margin-bottom: 35px;
}

.caja-input-login {
  margin-bottom: 10px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 20px;
  top: 40%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
}

.input-login, .input-login-selec {
  width: 100%;
  padding: 10px 10px 10px 50px; 
  margin-bottom: 10px;
  border-radius: 0.375rem;
  border: 2px solid #00314D;
  box-sizing: border-box;
}

.button-login {
  width: 105%;
  padding: 10px;
  background-color: #00314D;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.375rem; 
}

.caja-recordar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-left: 6px;
  margin-right: 20px;
  color: #00314D;
}

.link-olvidaste {
  color: #00314D;
  text-decoration: none;
  margin-left: auto;
}

.conten2 {
  text-align: left;
  margin-right: -18%;
  margin-top: 20%;
  color: white;
  letter-spacing: 1px; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-weight: bold;
}

.conten3 {
  color: white;
  text-align: left;
  margin-right: 8%;
  margin-top: 800px;
  font-weight: bold;
}

.text-tda-1 {
  letter-spacing: 5px; 
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.text-tda-2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  margin-top: -20px;
  font-size: 9px;
}


/*ESTILO DE LOS FORMULARIOS*/
.containerCreate {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 1.5rem;
}

.titleCreate {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 80;
  margin-bottom: 1.5rem;
  position: relative;
}

/* estilo de la linea del titulo */
.titleCreate::after {
  content: "";
  display: block;
  width: 18%; /* Ancho de la línea */
  height: 3px; /* Grosor de la línea */
  background-color: #00324d; /* Color de la línea */
  margin: 0.5rem auto 0; /* Espaciado alrededor de la línea */
  position: absolute;
  bottom: -3px; /* Ajusta la posición vertical de la línea */
  left: 40%; /* Centra la línea horizontalmente */
  border-radius: 50px; /* Hace que las esquinas sean totalmente redondas */
}

.cajaInput {
  margin-bottom: 1rem;
  text-align: center;
}

.label1 {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 25%;
}
.label2 {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 26%;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.98rem;
  margin-top: 0.3rem;
  padding: 0.6rem;
  border-width: 1px;
  border-radius: 0.375rem;
  width: 50%;
  outline: none;
  border-color: #000000;
}
.input2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.96rem;
  margin-top: 0.3rem;
  padding: 0.6rem;
  border-width: 1px;
  border-radius: 0.375rem;
  width: 50%;
  outline: none;
  border-color: #000000;
  background-color: #e1dfdf;
}

.contButtonCreate {
  text-align: center;
}

.buttonCreate {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 0.9rem;
  font-size: 0.99rem;
  font-weight: 500;
  border-radius: 0.375rem;
  outline: none;
  margin-top: 20px;
}

.cancelButton {
  color: #4b5563;
  background-color: #fff;
  border-color: #000000;
  letter-spacing: 1px;
  margin-right: 10px;
}

.registerButton {
  color: #fff;
  background-color: #00324d;
  letter-spacing: 1px;
}

/* estilo del mouse cuando pase por los botones */
.registerButton:hover,
.cancelButton:hover {
  cursor: pointer;
}

.inputIconEdit {
  position: relative;
}

.iconEdit {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 26%;
  width: 20px;
  height: auto;
}

/* ESTILO D LA LISTA */
.menu {
  background-color: #00324d;
  padding: 20px;
  width: 11%;
  height: 100%;
  top: 0%;
  position: fixed;
  left: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.menu ul {
  list-style: none;
  margin-top: 30%;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.menu-content {
  display: flex;
  align-items: center;
  color: #fffffff2;
  padding: 3px;
  font-size: 90%;
  text-align: center;
}

.menu-content img {
  margin-right: 15px;
}

li {
  display: flex;
  align-items: center;
  font-size: 0.99rem;
  color: #fffffff2;
  padding: 8px;
  font-size: 20px;
}

li img {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

.menu-final {
  margin-top: 160%;
}

.menu-config {
  margin-top: -10%;
}

.textMenu {
  color: white;
}

.principal {
  height: 50px;
  text-align: right;
  font-size: 1rem; /* 16px */
  padding: 7%;
  margin-right: 1240px;
  margin-top: -60px;
}

.button-agregar {
  border: 1px solid #00314d;
  border-radius: 5px;
  background-color: #00314d;
  cursor: pointer;
  margin-right: -1310px;
  margin-top: -0.5%;
}

.card-general {
  display: flex;
  margin-top: 15%;
  /* esta es linea de codigo que centra las card */
  justify-content: center;
  width: 470%;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 95%;
  margin: 0 auto;
}

.card {
  width: 80%;
  margin: 15%;
}

.card {
  border: 1px solid #ad9494;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url("../img/deco.png");
  background-size: cover;
  background-position: center;
  margin-left: 150px;
  margin-top: -0.5%;
}

.container-princ {
  font-size: 1.125rem; /* 18px */
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  display: flex;
  align-items: center;
}

.container-medio {
  font-size: 0.75rem; /* 12px */
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.container-principio {
  justify-content: space-between;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  display: flex;
  align-items: center;
}

.item-button {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.item-button:hover {
  text-decoration: underline;
}

.custom-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.custom-button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.title-team {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-top: 3%;
}

.title-team::after {
  content: "";
  display: block;
  width: 210%;
  height: 2px;
  background-color: #c7c7c7;
  margin: 0.5rem auto 0;
  position: absolute;
  bottom: -3px;
  left: 40%;
  border-radius: 50px;
}

header {
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -0.5%;
}

.container {
  display: flex;
  align-items: center;
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}

.right {
  display: flex;
  align-items: center;
}

.notification-button {
  position: relative;
  background-color: transparent;
  border: none;
  margin-left: 6.25rem; /* 100px */
  cursor: pointer;
  left: 1250px;
}

.notification-count {
  position: absolute;
  top: 0.3125rem; /* 5px */
  right: 0.625rem; /* 10px */
  background-color: red;
  color: white;
  font-size: 0.625rem; /* 10px */
  padding: 0.125rem 0.3125rem; /* 2px 5px */
  border-radius: 50%;
}

.bell-icon {
  font-size: 1.25rem; /* 20px */
}

.profile {
  display: flex;
  align-items: row;
  margin-left: 1250px;
  border-radius: 50%;
}

.despliegue {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile-name {
  font-weight: bold;
  order: 1;
  margin-left: 12px;
}

/* Estilos para el modal de crear team*/
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Diseño para que el modal pueda tomar el fondo azul transparente en toda la pagina */
.modal-complete {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(3, 56, 113, 0.3);
}

/* Este estilo aplica para poderle dar diseño al modal principal */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: -10px;
  border: 1px solid #ad9494;
  width: 80%;
  max-width: 550px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.close {
  color: #aaa;
  float: right;
  margin-right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(58, 58, 58);
}

.button-registrer {
  margin: 0 10px;
  padding: 19px 45px;
  background-color: #00324d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* diseño del modal #2 para agregar informacion */
.modal-number2{
  top: 50%;
  position: absolute;
  left: 50%;
  width: 632px;
  height: 625px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}


.modal-contentnumber{
  width: 80%;
  height: 20%;
  background-color: #ffffff;
  padding: 20%;
  border-radius: 3%;
  box-shadow: "0 0 10px rgba(0, 0, 0, 0.2)";
}

.caption-2{
  position: absolute;
  top: 21%;
  transform: translate(-50%);
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.caja-text-2{
  position: absolute;
  width: 244px;
  height: 30px;
  border-radius: 5%;
  background-color: #fff;
  border: 1px solid rgb(177, 175, 176);
  top: 30%;
  left: 30%;
}

.new-text{
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 39%;
  font-family: Arial, Helvetica, sans-serif;
}

.title-model-2{
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
}

.title-model-2::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #000000;
  margin: 0.5rem auto 0;
  position: absolute;
  bottom: -3px;
  right: 30%;
  border-radius: 50px;
  top: 55%;
}

.button-edit{
  margin: 0 10px;
  padding: 19px 45px;
  background-color: #00324d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-close{
  margin: 0 10px;
  padding: 19px 45px;
  background-color: #00324d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* estilos de la tabla para listar integrantes del team */
.table-model {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd; /* Borde de la tabla */
}

.table-model th,
.table-model td {
  padding: 8px;
  text-align: left;
  border: 1px solid #dddddd;
}

.table-model th {
  border-bottom: 1px solid #dddddd; /* Borde inferior de las celdas del encabezado */
}
/* ... */
.text-table{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.caja-buttons {
  /* estilos para los botones navegables del modal para agregar informacion */
  position: absolute;
  top: 14.2%;
  left: 32.9%;
  display: flex;
  flex-direction: row;
}

.caja-button-info,
.caja-button-des,
.caja-button-prom,
.caja-button-ob,
.caja-button-just {
  padding: 6px 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.caja-button-info {
  border-radius: 10px 0 0 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.caja-button-info button,
.caja-button-des button,
.caja-button-prom button,
.caja-button-ob button,
.caja-button-just button {
  background-color: transparent;
  border-color: transparent;
}

.caja-button-info:hover,
.caja-button-des:hover,
.caja-button-prom:hover,
.caja-button-ob:hover,
.caja-button-just:hover {
  background-color: #e0e0e0;
}

/* ESTILO PARA EL MODAL DE DESCRIPCION (3)*/
.caja-text-modal-3 {
  position: absolute;
  width: 500px;
  height: 180px;
  border-radius: 0.375rem;
  background-color: #fff;
  border: 1px solid rgb(177, 175, 176);
  top: 30%;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.buttons-modal {
  margin-top: 75%;
}

/* ESTILO PARA EL MODAL DE PROBLEMATICA, OBJETIVOS Y JUSTIFICACION (4 - 5 - 6)*/
.caja-text-modal {
  position: absolute;
  width: 500px;
  height: 300px;
  border-radius: 0.375rem;
  background-color: #fff;
  border: 1px solid rgb(177, 175, 176);
  top: 30%;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* tercer modal */

.modal-team {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 56, 113, 0.3);
}

.modal-teams {
  top: 50%;
  position: absolute;
  left: 50%;
  width: 1050px;
  height: 687px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border: 1px solid #bdbbbb;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.modal-3 {
  width: 90%;
  height: 90%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.model-title3 {
  position: relative;
  top: 0%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.model-title3::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #00314d;
  margin: 0.5rem auto 0;
  border-radius: 50px;
  margin-top: -9%;
}

.caption-3 {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 90%;
  margin-top: -0%;
}

.modal-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.item1 {
  background-color: #ffffff;
  width: 30%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #bdbbbb;
  padding: 20px;
  margin-right: 65%;
  height: 400px;
}

.search-bar {
  width: calc(100% - 20px);
  height: 4%;
  padding: 10px 10px 10px 40px;
  margin-bottom: 20px;
  border: 1px solid #bdbbbb;
  border-radius: 10px;
  font-size: 16px;
  background: url("../../resources//img/Busqueda.png") no-repeat 10px center;
  background-size: 20px 20px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -6%;
}

.text-modal3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  color: #000000;
}

.modal3card {
  border: 1px solid #b1b0b0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #d9d9d9;
  background-size: cover;
  background-position: center;
  width: 28%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -10%;
}

.text-card-modal3 {
  text-align: left;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 20px;
}

.button-close-modal3 {
  padding: 12px 75px;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-edit-modal3 {
  padding: 12px 50px;
  background-color: #00324d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  overflow-y: auto; /* Barra de desplazamiento vertical */
  max-height: calc(100% - 120px);
}

.checkbox-list label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 5px;
}

.checkbox-list input[type="checkbox"] {
  margin-left: auto;
}

.checkbox-list .text-modal3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.card-modal3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-modal3 > img {
  order: 2;
  margin-top: -27%;
  margin-left: 28%;
}

.card-modal3 > div {
  flex-grow: 1;
  order: 1;
}

.texto{
  color: #f80808c0;
}
