/*ESTILO DE LOS FORMULARIOS*/
.containerCreate {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 32rem; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem; 
  margin-bottom: 2.5rem; 
  padding: 1.5rem;
  background-color: #F7F4F3;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); 
  
}

.titleCreate {
  text-align: center;
  font-size: 1.900rem; 
  font-weight: 80; 
  margin-bottom: 1.5rem; 
  position: relative;
}

/* estilo de la linea del titulo */
.titleCreate::after {
  content: '';
  display: block;
  width: 18%; /* Ancho de la línea */
  height: 3px; /* Grosor de la línea */
  background-color: #00324D; /* Color de la línea */
  margin: 0.5rem auto 0; /* Espaciado alrededor de la línea */
  position: absolute;
  bottom: -3px; /* Ajusta la posición vertical de la línea */
  left: 40%; /* Centra la línea horizontalmente */
  border-radius: 50px; /* Hace que las esquinas sean totalmente redondas */
}

.cajaInput {
  margin-bottom: 1rem;
  text-align: center;
}

.label1 {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 25%;
}
.label2 {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 26%;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.980rem; 
  margin-top: 0.30rem; 
  padding: 0.60rem; 
  border-width: 1px;
  border-radius: 0.375rem; 
  width: 50%; 
  outline: none; 
  border-color: #000000;
}
.input2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.960rem; 
  margin-top: 0.30rem; 
  padding: 0.60rem; 
  border-width: 1px;
  border-radius: 0.375rem; 
  width: 50%; 
  outline: none; 
  border-color: #000000; 
  background-color: #e1dfdf;
}

.contButtonCreate{
  text-align: center;
}

.buttonCreate {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 0.9rem; 
  font-size: 0.990rem; 
  font-weight: 500; 
  border-radius: 0.375rem; 
  outline: none; 
  margin-top: 20px;
}

.cancelButton {
  color: #4b5563;
  background-color: #fff; 
  border-color: #000000;
  letter-spacing: 1px;
  margin-right: 10px;
}

.registerButton {
  color: #fff; 
  background-color: #00324D;
  letter-spacing: 1px;
}

/* estilo del mouse cuando pase por los botones */
.registerButton:hover, .cancelButton:hover {
  cursor: pointer;
}

.inputIconEdit {
  position: relative;
}

.iconEdit{
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 26%; 
  width: 20px; 
  height: auto;
}


/* ESTILO D LA LISTA */
.menu {
  background-color: #00324D;
  padding: 1.25rem; /* 20px */
  width: 11%;
  height: 100%;
  top: 0;
  position: fixed;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.menu ul {
  list-style: none;
  margin-top: 30%;
  padding: 0;
}

.menu li {
  margin-bottom: 0.625rem; /* 10px */
}

.menu a {
  display: block;
  padding: 0.625rem 0.9375rem; /* 10px 15px */
  text-decoration: none;
  color: white;
}

.menu-content {
  display: flex;
  align-items: center;
  color: #FFFFFFF2;
  padding: 0.1875rem; /* 3px */
  font-size: 90%;
  text-align: center;
}

.menu-content img {
  margin-right: 0.9375rem; /* 15px */
}

li {
  display: flex;
  align-items: center;
  font-size: 1.25rem; /* 20px */
  color: #FFFFFFF2;
  padding: 0.5rem; /* 8px */
}

li img {
  margin-right: 0.9375rem; /* 15px */
  width: 1.875rem; /* 30px */
  height: 1.875rem; /* 30px */
}

.menu-final {
  margin-top: 150%;
}

.menu-config {
  margin-top: -10%;
}

.principal {
  text-align: right;
  font-size: 1rem; /* 16px */
  padding: 7%;
  margin-right: 1240px;
  margin-top: -5%;
}

.card-general {
  display: flex;
  margin-top: 10%;
  width: 420%;
}

.card {
  width: 500%;
  border: 1px solid #ad9494;
  border-radius: 0.625rem; /* 10px */
  padding: 1.25rem; /* 20px */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px */
  background-image: url('../img/deco.png');
  background-size: cover;
  background-position: center;
  margin-left: 150px;
}

.container-princ {
  font-size: 1.125rem; /* 18px */
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  display: flex;
  align-items: center;
}

.container-medio {
  font-size: 0.75rem; /* 12px */
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.container-principio {
  justify-content: space-between;
  font-size: 1.125rem; /* 18px */
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  display: flex;
  align-items: center;
}

.item-button {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.item-button:hover {
  text-decoration: underline;
}

.custom-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.custom-button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.title-team {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.title-team::after {
  content: '';
  display: block;
  width: 210%;
  height: 0.125rem; /* 2px */
  background-color: #c7c7c7;
  margin: 0.5rem auto 0;
  position: absolute;
  bottom: -0.1875rem; /* -3px */
  left: 40%;
  border-radius: 50px;
}

header {
  background-color: #D9D9D9;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}

.right {
  display: flex;
  align-items: center;
}

.notification-button {
  position: relative;
  background-color: transparent;
  border: none;
  margin-left: 6.25rem; /* 100px */
  cursor: pointer;
}

.notification-count {
  position: absolute;
  top: 0.3125rem; /* 5px */
  right: 0.625rem; /* 10px */
  background-color: red;
  color: white;
  font-size: 0.625rem; /* 10px */
  padding: 0.125rem 0.3125rem; /* 2px 5px */
  border-radius: 50%;
}

.bell-icon {
  font-size: 1.25rem; /* 20px */
}

.profile {
  display: flex;
  align-items: row;
  margin-left: 78.125rem; /* 1250px */
}

.profile-name {
  font-weight: bold;
  order: 1;
  margin-left: 0.75rem; /* 12px */
}
